body{
  margin:0;
  padding:0;
  font-family: "Courier New", Courier, monospace;
  /* background:linear-gradient(pink 0%,aqua 100%) w3c */
  background: linear-gradient(89deg, rgb(179, 5, 202) 0%, rgb(12, 231, 235) 100%); 
}


button {
  cursor:pointer;
}